{% extends 'base.html' %}
{% block content %}

<div class="container">
	<h3 class=" text-center text-success">New Password Form</h3>
	<div class="messaging">
		  <div class="stylish-input-group inbox_msg text-center">
        <hr>
        <h2 class="text-light">Enter your New Password</h2>
        <hr>
			<form method="post">{% csrf_token %}
				<div class="srch_bar w-25 p-1">
					<input type="password" name="new_password1" placeholder="New Password" autocomplete="new-password"  required id="id_new_password1" >
				</div>
				<hr>
        <div class="srch_bar w-25 p-1">
					<input type="password" name="new_password2" placeholder="New password confirmation" autocomplete="new-password"  required id="id_new_password2">
				</div>
        <hr>
        <div class="text-danger">
          {% for field in form %}
  
            {% for error in field.errors %}
              <p class="error" >{{ error }}</p>
            {% endfor %}
  
          {% endfor %}
          {% if form.non_field_errors %}
            <div>
              <p>{{form.non_field_errors}}</p>
            </div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Update Password</button>
				<hr>
			</form>
		  </div>
	</div>
</div>








{% endblock %}