{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} Maine Page {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'mainme.css' %}" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">

    
    
</head>
<body>
    <div class="text-center">
    {% if request.user.is_authenticated %}
    <a class="btn btn-outline-success m-2" href="{% url 'home' %}">Chatting</a>
    <a class="btn btn-outline-primary m-2" href="{% url 'account:account_view_detail' user_id=request.user.id %}">{{request.user.username}}</a>
        {% comment %} <a class="btn btn-outline-primary m-2" href="{% url 'account:account_view_detail' user_id=request.user.id %}">Account</a> {% endcomment %}
        <a class="btn btn-outline-danger m-2" href="{% url 'account:logout' %}">Logout</a>
    {% else %}
        <a class="btn btn-outline-success m-2" href="{% url 'account:login' %}">Login</a>
        <a class="btn btn-outline-primary m-2" href="{% url 'account:register' %}">Register</a>
    {% endif %}	
    </div>
    
    {{ request.user.username|json_script:"user_username" }}
    {{ request.user.profile_image.url|json_script:"user_profile_image" }}
    {{ room_act.id|json_script:"room" }}
    {% block content %}

    {% endblock content %}
    
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
